In [8]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
df = pd.read_csv("invoice.csv")

In [10]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Date,Year,Month,Year-Month,Revenue,Transaction type
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,01-12-2009 07:45,? 6.95,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 83.40,Sale
1,489434,79323P,PINK CHERRY LIGHTS,12,01-12-2009 07:45,? 6.75,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 81.00,Sale
2,489434,79323W,WHITE CHERRY LIGHTS,12,01-12-2009 07:45,? 6.75,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 81.00,Sale
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,01-12-2009 07:45,? 2.10,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 100.80,Sale
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,01-12-2009 07:45,? 1.25,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 30.00,Sale

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Invoice           1048575 non-null  object
 1   StockCode         1048575 non-null  object
 2   Description       1044203 non-null  object
 3   Quantity          1048575 non-null  int64
 4   InvoiceDate       1048575 non-null  object
 5   Price             1048575 non-null  object
 6   Customer ID       811893 non-null   float64
 7   Country           1048575 non-null  object
 8    Date             1048575 non-null  object
 9    Year             1048575 non-null  int64
 10  Month             1048575 non-null  object
 11  Year-Month        1048575 non-null  object
 12  Revenue           1048575 non-null  object
 13  Transaction type  1048575 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 112.0+ MB

In [7]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', ' Date', ' Year', 'Month',
       'Year-Month', 'Revenue', 'Transaction type'],
      dtype='object')

In [13]:
df.isnull()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Date,Year,Month,Year-Month,Revenue,Transaction type
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048571,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048572,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048573,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048574,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

Invoice                  0
StockCode                0
Description           4372
Quantity                 0
InvoiceDate              0
Price                    0
Customer ID         236682
Country                  0
 Date                    0
 Year                    0
Month                    0
Year-Month               0
Revenue                  0
Transaction type         0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(34150)

#FIXING AND CLEANING

In [24]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['InvoiceDate'].dtype

dtype('<M8[ns]')

In [22]:
df['Price_clean'] = (
    df['Price']
    .astype(str)
    .str.replace(r'[^0-9.]', '', regex=True)
    .astype(float)
)

In [26]:
df.head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Date,Year,Month,Year-Month,Revenue,Transaction type,Price_clean,Revenue_clean
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-01-12 07:45:00,? 6.95,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 83.40,Sale,6.95,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-01-12 07:45:00,? 6.75,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 81.00,Sale,6.75,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-01-12 07:45:00,? 6.75,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 81.00,Sale,6.75,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-01-12 07:45:00,? 2.10,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 100.80,Sale,2.10,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-01-12 07:45:00,? 1.25,13085.0,United Kingdom,01-12-2009,2009,Dec,2009-12,? 30.00,Sale,1.25,30.0

In [25]:
df['Revenue_clean'] = df['Quantity'] * df['Price_clean']

In [27]:
df[['Quantity', 'Price_clean', 'Revenue_clean']].head()

   Quantity  Price_clean  Revenue_clean
0        12         6.95           83.4
1        12         6.75           81.0
2        12         6.75           81.0
3        48         2.10          100.8
4        24         1.25           30.0

#FILTERING VALID SALES DATA

In [28]:
sales_df = df[
    (df['Transaction type'] == 'Sale') &
    (df['Customer ID'].notna())
].copy()

In [29]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 793380 entries, 0 to 1048574
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Invoice           793380 non-null  object
 1   StockCode         793380 non-null  object
 2   Description       793380 non-null  object
 3   Quantity          793380 non-null  int64
 4   InvoiceDate       323471 non-null  datetime64[ns]
 5   Price             793380 non-null  object
 6   Customer ID       793380 non-null  float64
 7   Country           793380 non-null  object
 8    Date             793380 non-null  object
 9    Year             793380 non-null  int64
 10  Month             793380 non-null  object
 11  Year-Month        793380 non-null  object
 12  Revenue           793380 non-null  object
 13  Transaction type  793380 non-null  object
 14  Price_clean       793380 non-null  float64
 15  Revenue_clean     793380 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(10)
memory usage: 102.9+ MB

#RFM Analysis

In [30]:
snapshot_date = sales_df['InvoiceDate'].max() + pd.Timedelta(days=1)

In [31]:
rfm = sales_df.groupby('Customer ID').agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'Invoice': 'nunique',
    'Revenue_clean': 'sum'
}).reset_index()

rfm.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']

In [35]:
rfm['F_bin'] = pd.qcut(
    rfm['Frequency'],
    q=4,
    duplicates='drop'
)

In [36]:
rfm['F_score'] = rfm['F_bin'].cat.codes + 1

In [37]:
rfm['R_bin'] = pd.qcut(
    rfm['Recency'],
    q=4,
    duplicates='drop'
)

rfm['R_score'] = rfm['R_bin'].cat.codes + 1
rfm['R_score'] = rfm['R_score'].max() - rfm['R_score'] + 1

In [38]:
rfm['M_bin'] = pd.qcut(
    rfm['Monetary'],
    q=4,
    duplicates='drop'
)

rfm['M_score'] = rfm['M_bin'].cat.codes + 1

In [39]:
rfm['RFM_score'] = rfm[['R_score','F_score','M_score']].sum(axis=1)

In [40]:
rfm[['Recency','Frequency','Monetary','R_score','F_score','M_score','RFM_score']].head()
rfm['RFM_score'].describe()

count    5863.000000
mean        7.372676
std         2.172009
min         3.000000
25%         6.000000
50%         7.000000
75%         9.000000
max        12.000000
Name: RFM_score, dtype: float64

In [41]:
def segment(score):
    if score >= 10:
        return 'Champions'
    elif score >= 7:
        return 'Loyal'
    elif score >= 5:
        return 'At Risk'
    else:
        return 'Lost'

rfm['Segment'] = rfm['RFM_score'].apply(segment)

In [42]:
rfm['Churn_Risk'] = (rfm['Recency'] > 90).astype(int)

In [43]:
rfm

,CustomerID,Recency,Frequency,Monetary,R_score,F_bin,F_score,R_bin,M_bin,M_score,RFM_score,Segment,Churn_Risk
0,12346.0,619.0,12,77556.46,1,"(7.0, 391.0]",3,"(435.0, 1063.0]","(2282.955, 597336.11]",4,8,Loyal,1
1,12347.0,96.0,7,5408.50,3,"(3.0, 7.0]",2,"(69.75, 219.0]","(2282.955, 597336.11]",4,9,Loyal,1
2,12348.0,221.0,5,2019.40,2,"(3.0, 7.0]",2,"(219.0, 435.0]","(882.47, 2282.955]",3,7,Loyal,1
3,12349.0,NaN,4,4428.69,5,"(3.0, 7.0]",2,NaN,"(2282.955, 597336.11]",4,11,Champions,0
4,12350.0,312.0,1,334.40,2,"(0.999, 3.0]",1,"(219.0, 435.0]","(-0.001, 344.0]",1,4,Lost,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5858,18283.0,61.0,21,2528.65,4,"(7.0, 391.0]",3,"(0.999, 69.75]","(2282.955, 597336.11]",4,11,Champions,0
5859,18284.0,610.0,1,461.68,1,"(0.999, 3.0]",1,"(435.0, 1063.0]","(344.0, 882.47]",2,4,Lost,1
5860,18285.0,NaN,1,427.00,5,"(0.999, 3.0]",1,NaN,"(344.0, 882.47]",2,8,Loyal,0
5861,18286.0,NaN,2,1296.43,5,"(0.999, 3.0]",1,NaN,"(882.47, 2282.955]",3,9,Loyal,0
5862,18287.0,1.0,7,4182.99,4,"(3.0, 7.0]",2,"(0.999, 69.75]","(2282.955, 597336.11]",4,10,Champions,0

#Customer Lifetime Value (CLV) Estimation

In [44]:
rfm['Avg_Order_Value'] = rfm['Monetary'] / rfm['Frequency']
rfm['Purchase_Frequency'] = rfm['Frequency']

rfm['CLV'] = rfm['Avg_Order_Value'] * rfm['Purchase_Frequency']

In [45]:
rfm['CLV']

0       77556.46
1        5408.50
2        2019.40
3        4428.69
4         334.40
          ...
5858     2528.65
5859      461.68
5860      427.00
5861     1296.43
5862     4182.99
Name: CLV, Length: 5863, dtype: float64

#COHORT ANALYSIS

In [46]:
sales_df['OrderMonth'] = sales_df['InvoiceDate'].dt.to_period('M')
sales_df['CohortMonth'] = sales_df.groupby('Customer ID')['InvoiceDate'].transform('min').dt.to_period('M')

cohort = sales_df.groupby(['CohortMonth','OrderMonth'])['Customer ID'].nunique().reset_index()

cohort['CohortIndex'] = (
    cohort['OrderMonth'].astype(int) -
    cohort['CohortMonth'].astype(int)
)

#BEHAVIOR ANALYSIS

In [49]:
return_rate_customer = return_rate_customer.rename(
    columns={'Customer ID': 'CustomerID'}
)

In [50]:
rfm = rfm.merge(return_rate_customer, on='CustomerID', how='left')
rfm['Return_Value'] = rfm['Return_Value'].fillna(0)

In [51]:
rfm[['CustomerID', 'Return_Value']].head()

   CustomerID  Return_Value
0     12346.0      77621.14
1     12347.0          0.00
2     12348.0          0.00
3     12349.0         24.15
4     12350.0          0.00

In [52]:
rfm['Return_Value'].describe()

count     5863.000000
mean       146.645722
std       1555.161148
min          0.000000
25%          0.000000
50%          0.000000
75%         31.285000
max      77621.140000
Name: Return_Value, dtype: float64

In [53]:
rfm.groupby('Segment')['Return_Value'].mean().sort_values(ascending=False)

Segment
Champions    397.876366
Loyal        126.660814
At Risk       31.706044
Lost           9.060757
Name: Return_Value, dtype: float64

In [54]:
rfm_sorted = rfm.sort_values('Monetary', ascending=False)
rfm_sorted['CumRevenue'] = rfm_sorted['Monetary'].cumsum()
rfm_sorted['CumRevenuePct'] = rfm_sorted['CumRevenue'] / rfm_sorted['Monetary'].sum()

In [55]:
rfm_sorted.head()

,CustomerID,Recency,Frequency,Monetary,R_score,F_bin,F_score,R_bin,M_bin,M_score,RFM_score,Segment,Churn_Risk,Avg_Order_Value,Purchase_Frequency,CLV,Return_Value,CumRevenue,CumRevenuePct
5677,18102.0,95.0,142,597336.11,3,"(7.0, 391.0]",3,"(69.75, 219.0]","(2282.955, 597336.11]",4,10,Champions,1,4206.592324,142,597336.11,10606.43,597336.11,0.034478
2270,14646.0,3.0,149,516874.50,4,"(7.0, 391.0]",3,"(0.999, 69.75]","(2282.955, 597336.11]",4,11,Champions,0,3468.956376,149,516874.50,5260.45,1114210.61,0.064313
1783,14156.0,1.0,156,313946.37,4,"(7.0, 391.0]",3,"(0.999, 69.75]","(2282.955, 597336.11]",4,11,Champions,0,2012.476731,156,313946.37,17381.68,1428156.98,0.082434
2532,14911.0,1.0,391,289670.66,4,"(7.0, 391.0]",3,"(0.999, 69.75]","(2282.955, 597336.11]",4,11,Champions,0,740.845678,391,289670.66,25724.10,1717827.64,0.099153
5038,17450.0,4.0,51,246973.09,4,"(7.0, 391.0]",3,"(0.999, 69.75]","(2282.955, 597336.11]",4,11,Champions,0,4842.609608,51,246973.09,13393.70,1964800.73,0.113409

In [57]:


rfm_final = rfm.copy()

rfm_final.to_csv(
    "rfm_customer_analytics_final.csv",
    index=False
)

print("rfm_customer_analytics_final.csv saved")

rfm_customer_analytics_final.csv saved

In [58]:


segment_summary = (
    rfm_final
    .groupby('Segment')
    .agg(
        Total_Customers=('CustomerID', 'count'),
        Avg_Recency=('Recency', 'mean'),
        Avg_Frequency=('Frequency', 'mean'),
        Avg_Monetary=('Monetary', 'mean'),
        Avg_CLV=('CLV', 'mean'),
        Avg_Return_Value=('Return_Value', 'mean'),
        Churn_Rate=('Churn_Risk', 'mean')
    )
    .reset_index()
)

segment_summary.to_csv(
    "segment_level_summary.csv",
    index=False
)

print(" segment_level_summary.csv saved")

 segment_level_summary.csv saved

In [61]:


pareto_df = rfm_sorted[['CustomerID', 'Monetary', 'CumRevenuePct']]

pareto_df.to_csv(
    "pareto_customer_revenue.csv",
    index=False
)

print(" pareto_customer_revenue.csv saved")

 pareto_customer_revenue.csv saved